*{
    box-sizing: border-box;
    margin: 0;
padding: 0;
}
.nav-link:hover{
    color: black;
    background-color:#FECB62 ;
    border-radius: 15px;

}
.holly{
    background-color: #FFF7E5 !important;
}
#root{
    margin: 0;
}
body{
    margin: 0;
    overflow-x: hidden;
}
.hully{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.hollyy{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* home */

    /* display: none; */

.navb{
    background: #FFF7E5 !important;
    width: 90vw;
    margin: auto;
    border-radius: 20px 20px 0 0;
    margin-top: 40px;
    
}
.pa{
    margin-top: 40px;
    margin-left: 30px;
}
#logo{
    width:100px;
    height:100px;
    margin-left: 40px;
}
.cen{
    margin-left: 10px;
}
.iconsH{
    margin-top: 180px;
}
.fa-arrow-right{
    background-color:#FEC240;
    padding: 5px;
    border-radius: 7px;
}
/* search */
.new{
    width: auto;
    
    text-align: center;
}


.lescarts{
    width: 90vw;
    margin: auto;
    border-radius: 40px;
}

 .hell{
     background-color: #FFE8B5;
     text-align: center;
     border-radius: 20px;
     outline: none;
     border: none;
     width: 80vw;
     padding: 6px;
 }
   .favo{
       width: 10vw;
       height: 13vh;
       margin-left: 280px;
   } 

.input{
    width: 90vw;
    margin-left: 100px;
    border-radius: 40px;
    
    
}
/* dicover */
.cool{
    padding: 75px;
}
.noon{
    padding: 29px;
}
#log{
    /* margin-top: -39px; */
    width:29vw;
    height:60vh;
    margin-right: 70px;
    padding: auto;
    justify-items: center;
}
.hi{
    border-radius: 20px;
    height: auto;
    
    width: 70%;
    margin-left: 180px;
    
}
.btnh{
    background: #FECB62 !important;
    border-radius: 25px !important;
    margin-top: 40px;
    width: auto;
    padding: auto;
}
.btnn{
    background: #B6875E !important;
    border-radius: 25px !important;
    margin-top: 40px;
    width: auto;
    padding: auto;
}


/* footer */
.bg{
    background: #F9F6F0 ;
    width: 99.8vw;
}
.hl{
    padding: 25px;
    /* text-align: center; */

}
.footer{
    width: auto;
}
.look{
    margin-left: 6vw;
    margin-top: 10vh;
}
#swip{
    width:7vw;
    height:10vh;
    margin-right: 70px;
    padding: auto;
    margin-top: 10vh;
    margin-left: 10vh;
}

.copyr{
    background-color: #2D2B2D;
    color: white;
    text-align: center;
    width: 100%;
}